:root {
  --georgiatech: #feb10a;
  --blackbird: #2c2c2c;
  --whitecastle: aliceblue;
}

* {
  font-size: 1.25vw;
}

a {
  color: var(--georgiatech);
}
a:hover {
  color: var(--whitecastle);
}

.xp-date {
  background-color: var(--georgiatech);
  display: flex;
  justify-content: center;
  font-size: large;
  border-radius: 2px;
}
.xp-card {
  background: #fafafa;
  color: var(--blackbird);
  padding: 10px;
  margin-top: -5px;
  margin-bottom: 20px;
  border-radius: 0px 0px 2px 2px;
}

.text-2 {
  font-size: 2vw;
}

.text-7 {
  font-size: 7vw;
}

.text-10 {
  font-size: 10vw;
}

.line {
  width: 75%;
  height: 2px;
  background-color: var(--whitecastle);
}

.sect-header {
  font-size: 2vw;
  color: var(--georgiatech);
}

.upsize {
  font-variant: small-caps;
}

.go-big,
.go-big > strong {
  letter-spacing: 0.25em;
  font-size: 4vw;
  font-variant: small-caps;
  text-align: center;
}

.container {
  background-color: var(--blackbird);
  color: var(--whitecastle);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

#inforesume {
  display: grid;
  gap: 25px 5px;
  grid-template-areas:
    'name name name'
    'infj profilepic title'
    'leftright intro availableon'
    'solutions workexp availablefor'
    'topartists main tech'
    'topartists skills drinks'
    'projects edu mytime'
    'worklife books moreinfo';
}

.name {
  grid-area: name;
}
.work-exp {
  grid-area: workexp;
  width: 100%;
}
.work-exp li {
  list-style: none;
  margin-left: -20px;
}
.work-exp li::before {
  content: '💻 ';
}
.xp-date + div > p {
  font-size: 1.25em;
  text-align: center;
}
.exp {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  grid-area: profilepic;
  text-align: center;
}
.intro {
  grid-area: intro;
}
.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
}
.available-on {
  grid-area: availableon;
}
.left-right {
  grid-area: leftright;
}
.left-right-img {
  display: flex;
  justify-content: start;
}
.left-right-img ul>li {
  margin-left: -30px;
  list-style-type: none;
  padding-right:7px;
  font-size: smaller;
}
.left-brain-logic, .right-brain-logic {
  visibility: hidden;
}
.solutions {
  grid-area: solutions;
}
.available-for {
  grid-area: availablefor;
}
.infj {
  grid-area: infj;
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}
.work-life {
  grid-area: worklife;
}
.top-artists {
  grid-area: topartists;
}
.my-time {
  grid-area: mytime;
}
.clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  grid-area: projects;
}
.skills {
  grid-area: skills;
}
.books {
  grid-area: books;
}
.tech {
  grid-area: tech;
}
.edu {
  grid-area: edu;
}
.drinks {
  grid-area: drinks;
}
.more-info {
  grid-area: moreinfo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.invert {
  filter: brightness(25%) invert(100%);
}

/* Charts */
.chart {
  /* vertical-align: middle; */
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
canvas {
  height: 50%;
}

.creative-cloud {
  display: flex;
  justify-content: center;
  flex-wrap: row;
}










/* Media Queries */
@media (max-width: 799px) {
  * {
    font-size: 1em;
    text-align: center;
  }
  .text-2 {
    font-size: 2em;
  }
  .text-7 {
    font-size: 5em;
  }
  .text-10 {
    font-size: 8em;
  }
  .line {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sect-header {
    font-size: 2em;
    color: var(--georgiatech);
  }
  #inforesume {
    grid-template-areas:
      'profilepic'
      'name'
      'intro'
      'title'
      'availableon'
      'availablefor'
      'workexp'
      'solutions'
      'leftright'
      'infj'
      'tech'
      'topartists'
      'skills'
      'books'
      'projects'
      'mytime'
      'worklife'
      'edu'
      'drinks'
      'moreinfo';
  }
  .main {
    display: none;
  }
  img {
    width: 50%;
  }
  .name {
    margin-top: -25px;
  }
 .go-big {
   font-size: 2em;
}
 .go-big strong {
   font-size: 1em;
}
  .intro {
    left: 0px;
    background: #05d655;
    width: 100%;
  }
  .work-exp {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
  }

  .left-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .left-right-img {
    width: 30%;
    position: relative;
    left: -80px;
  }
  .infj-list, .xp-card ul>li {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .infj-align {
    display: flex;
    justify-content: center;
  }
  .xp-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .clocks {
    flex-direction: row;
    justify-content: center;
  }
  .clock-work,
  .clock-play,
  .grad-cap,
  .teabag {
    width: 40%;
  }
  .ai,
  .ps,
  .id {
    padding-top: 25px;
    width: 25%;
  }
  .creative-cloud {
    align-items: center;
  }
  .school {
    font-size: smaller;
  }
}
