:root {
  --georgiatech: #feb10a;
  --blackbird: #2c2c2c;
  --whitecastle: aliceblue;
}

* {
  font-size: 1.25vw;
}

a {
  color: var(--georgiatech);
}
a:hover {
  color: var(--whitecastle);
}

.text-2 {
  font-size: 2vw;
}

.text-7 {
  font-size: 7vw;
}

.text-10 {
  font-size: 10vw;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--whitecastle);
  margin: 3px 0;
}

.sect-header {
  font-size: 2vw;
  color: var(--georgiatech);
}

.upsize {
  font-variant: small-caps;
}

.go-big,
.go-big > strong {
  letter-spacing: 0.25em;
  font-size: 4vw;
  font-variant: small-caps;
  text-align: center;
}

.container {
  background-color: var(--blackbird);
  color: var(--whitecastle);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#inforesume {
  display: grid;
  gap: 25px 5px;
  grid-template-areas:
    'name name name name name'
    'infj profilepic profilepic profilepic intro'
    'infj title title title availableon'
    'leftright solutions solutions solutions availablefor'
    'workexp main main main tech'
    'topartists skills skills skills books'
    'projects edu edu edu mytime'
    'worklife worklife drinks drinks moreinfo';
}

.name {
  grid-area: name;
}
.work-exp {
  grid-area: workexp;
}
.exp {
  display: flex;
  justify-content: space-evenly;
}
.profile-pic {
  grid-area: profilepic;
  text-align: center;
}
.intro {
  grid-area: intro;
  /* display: flex; */
  /* position: relative;
  left: -50px;
  background: #05d655;
  width: 90%; */
}
.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
}
.available-on {
  grid-area: availableon;
}
.left-right {
  grid-area: leftright;
}
.solutions {
  grid-area: solutions;
}
.available-for {
  grid-area: availablefor;
}
.infj {
  grid-area: infj;
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}
.work-life {
  grid-area: worklife;
}
.top-artists {
  grid-area: topartists;
}
.my-time {
  grid-area: mytime;
}
.clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  grid-area: projects;
}
.skills {
  grid-area: skills;
}
.books {
  grid-area: books;
}
.tech {
  grid-area: tech;
}
.edu {
  grid-area: edu;
}
.drinks {
  grid-area: drinks;
}
.more-info {
  grid-area: moreinfo;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

img {
  filter: brightness(25%) invert(100%);
}

/* Charts */
.chart {
  /* vertical-align: middle; */
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
canvas {
  height: 50%;
}

/* Media Queries */
@media (max-width: 799px) {
  * {
    font-size: 1em;
    text-align: center;
  }
  .text-2 {
    font-size: 2em;
  }
  .text-7 {
    font-size: 5em;
  }
  .text-10 {
    font-size: 8em;
  }
  .line {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sect-header {
    font-size: 2em;
    color: var(--georgiatech);
  }
  #inforesume {
    grid-template-areas:
      'profilepic'
      'name'
      'intro'
      'main'
      'title'
      'availableon'
      'availablefor'
      'workexp' 'solutions'
      'leftright'
      'infj'
      'tech'
      'topartists'
      'skills'
      'books'
      'projects'
      'mytime'
      'worklife'
      'edu'
      'drinks'
      'moreinfo';
  }
  img {
    width: 70%;
  }
  .intro {
    left: 0px;
    background: #05d655;
    width: 100%;
  }
  .clocks {
    flex-direction: row;
    justify-content: center;
  }
  .clock-work,
  .clock-play,
  .grad-cap,
  .teabag {
    width: 40%;
  }
}
